<app-add-todo (todoAdd)="addTodo($event)" ></app-add-todo>
<h5>Your Todos</h5>
<!-- <div *ngIf="this.todos.length === 0; then thenBlock else elseBlock"></div> -->
<div *ngIf="todos.length === 0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>No Todos to display</ng-template>
<ng-template #elseBlock>
  <div>
    <div *ngFor="let todo of todos">
      <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
      <!-- {{ todo.sno }} - {{ todo.title }} - {{ todo.desc }} -->
    </div>
  </div>
</ng-template>
  
