<app-add-todo (todoAdd)="addTodo($event)" ></app-add-todo>
<h5>Your Todos</h5>
<!-- <div *ngIf="this.todos.length === 0; then thenBlock else elseBlock"></div> -->
<div *ngIf="todos.length === 0; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>No Todos to display</ng-template>
<ng-template #elseBlock>

  <div cdkDropListGroup class="todo-container">
    <div cdkDropList [cdkDropListData]="todos" class="todolist" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let todo of todos" cdkDrag>
        <app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoCheckbox)="toggleTodo($event)"></app-todo-item>
      </div>
    </div>
  </div>


</ng-template>
  
