<div class="my-3">
    <!-- <p class=" mb-0">{{todo?.title}}</p>
    <p class=" mb-1">{{todo?.desc}}</p>
    <button class="btn btn-danger" >Delete</button>   -->
    
    <div class="card-body">
        <!-- <h5 [class]="'nostrike'?todo.active:'strike'">{{todo.title}}</h5> -->
        <!-- <h5 [class]="{''?todo.active:'strike'">{{todo.title}}</h5> -->
        <!-- <h5 clsdd="test" [ngClass]="{strike: !todo.active}">{{todo.title}}</h5> -->
        <!-- <h5 [ngClass]="{'strike': !todo.active, 'nostrike': todo.active}">{{todo.title}}</h5> -->
        <!-- <h5 class="test" [ngClass]="{strike: !todo.active}">{{todo.title}}</h5> -->
        <!-- [ngClass] ="{ strike : !todo.active}" -->
        <h5 class="test" class="{{ todo.active ? '' : 'strike' }}">{{todo.title}}</h5>
        <p class="card-text" class="{{ todo.active ? '' : 'strike' }}">{{todo.desc}}</p>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo)" [checked]="
          !todo.active">
          <label class="form-check-label" for="exampleCheck1">Done</label>
        </div>
        <button type="button" class="btn btn-danger btn-sm"  (click)="onClick(todo)">Delete</button>
      </div>
      
</div>
